.wordcloud-canvas-container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative;
}

.wordcloud-canvas {
    width: 100%;
    height: 100%;
    animation: fadeIn 0.8s ease-in;
}